biopython
certifi
charset-normalizer
contourpy
cycler
et-xmlfile
fonttools
idna
intermine
joblib
kiwisolver
matplotlib
numpy
openpyxl
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
threadpoolctl
tqdm
tzdata
urllib3
XlsxWriter
xmltodict
